# /etc/systemd/system/headscale-ui.service
[Unit]
Description="Homelab: Headscale Web UI"
StartLimitIntervalSec=30
StartLimitBurst=10
Requires=headscale.service
Wants=network.target
After=network-online.target

[Service]
Type=simple

Environment=TZ={{ personal.timezone }}
# Use the base colors
Environment=COLOR=red
# Reachable endpoint for your Headscale server
Environment=HS_SERVER=https://vpn.{{ site.url }}
# The base domain name for this container.
Environment=DOMAIN_NAME=https://vpn-ui.{{ site.url }}
# This is your applications base path (wsgi requires the name "SCRIPT_NAME"), ie /admin. Remove if you are hosting at root /
Environment=SCRIPT_NAME=""
# AUTH_TYPE is either Basic or OIDC.  Empty for no authentication
Environment=AUTH_TYPE=OIDC
# Log level.  "DEBUG", "ERROR", "WARNING", or "INFO".  Default "INFO"
Environment=LOG_LEVEL=WARNING
Environment=DATA_DIRECTORY=/var/opt/headscale-ui/data
# About section on the Settings page
Environment=GIT_COMMIT=""
Environment=GIT_BRANCH=""
Environment=APP_VERSION="v0.6.2"
Environment=BUILD_DATE="May 7, 2023"
Environment=HS_VERSION="v0.23.0-alpha1"

# ENV for Basic Auth (Used only if AUTH_TYPE is "Basic"). Can be omitted if you aren't using Basic Auth
# Environment=BASIC_AUTH_USER=user
# Environment=BASIC_AUTH_PASS=pass

# ENV for OIDC (Used only if AUTH_TYPE is "OIDC"). Can be omitted if you aren't using OIDC
# https://github.com/iFargle/headscale-webui/blob/main/SETUP.md
# https://github.com/iFargle/headscale-webui/blob/main/server.py#L39
# https://github.com/fedora-infra/flask-oidc/blob/develop/docs/index.rst#manual-client-registration
# URL for your OIDC issuer's well-known endpoint
Environment=OIDC_AUTH_URL=https://auth.{{ site.url }}/.well-known/openid-configuration
# Your OIDC Issuer's Client ID for Headscale-WebUI
Environment=OIDC_CLIENT_ID=headscale-webui

# Generate with "openssl rand -base64 32" - used to encrypt your key on disk.
EnvironmentFile=KEY=/etc/opt/secrets/hs_ui_storage_key
# Your OIDC Issuer's Secret Key for Headscale-WebUI
# sudo podman run docker.io/authelia/authelia:latest authelia crypto hash generate pbkdf2 --variant sha512 --random --random.length 72 --random.charset rfc3986
EnvironmentFile=OIDC_CLIENT_SECRET=/etc/opt/secrets/hs_ui_oidc_secret

# port = 5000

WorkingDirectory=/var/opt/headscale-ui
ExecStart=poetry run gunicorn -b 127.0.0.1:5000 server:app

Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target