# /etc/systemd/system/tailscale.service
# TODO: test this, not currently in use
[Unit]
Description="Homelab: Tailscale client manager"
StartLimitIntervalSec=30
StartLimitBurst=10
Requires=tailscaled.service
Wants=network.target
After=network-online.target

[Service]
Type=simple

Environment=TZ={{ personal.timezone }}

ExecStart=/bin/bash -c '/usr/bin/tailscale up --login-server https://vpn.{{ site.url }}:443 --accept-routes --authkey "$(headscale --user public preauthkeys create --reusable --expiration 10m)"'
ExecStop=/usr/bin/tailscale down

Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
