# /etc/containers/systemd/net.network
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html#network-units-network
# Handles all external incoming traffic

[Network]
Driver=bridge
Subnet={{ homesvcs.container_subnet }}.0/24
