---
# /etc/opt/traefik/config/static/traefik.yml
global:
  sendAnonymousUsage: false
  checkNewVersion: false
api:
  dashboard: true
  insecure: false
log:
  level: DEBUG
  format: common
providers:
  file:
    watch: true
    directory: /config/dynamic
entryPoints:
  web:
    address: ":80/tcp"
    http:
      aliasHeadersStrategy: delete
    proxyProtocol:
      insecure: false
      trustedIPs: [{{ vpnsvcs.ip }}]
    forwardedHeaders:
      insecure: false
      trustedIPs: [{{ vpnsvcs.ip }}]
  websecure:
    address: ":443/tcp"
    http:
      aliasHeadersStrategy: delete
    proxyProtocol:
      insecure: false
      trustedIPs: [{{ vpnsvcs.ip }}]
    forwardedHeaders:
      insecure: false
      trustedIPs: [{{ vpnsvcs.ip }}]
...
