# /etc/containers/systemd/test.container
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Unit]
Description="Homelab: Test service"
Wants=network.target
After=network-online.target

[Container]
Image=docker.io/library/debian:trixie-slim
ContainerName=test
AutoUpdate=registry
NoNewPrivileges=true

Secret=hs_oidc_secret_hash,type=env,target=HS_UI_HASH
Environment=BB=bbb
PodmanArgs=--env-merge=AA=${BB}-${HS_UI_HASH}
Volume=/usr/local/bin:/test_bin
Exec=/test_bin/test_service.sh

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=300

