# /etc/containers/systemd/vmalert.container
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
# https://github.com/VictoriaMetrics/VictoriaMetrics/blob/master/deployment/docker/README.md

[Unit]
Description="Homelab: Executes alerting and recording rules"
StartLimitIntervalSec=30
StartLimitBurst=10
Requires=victoriametrics.service
Requires=alertmanager.service
Wants=network.target
After=network-online.target

[Container]
Image=docker.io/victoriametrics/vmalert:stable
ContainerName=vmalert
AutoUpdate=registry
NoNewPrivileges=true

Network=net.network
HostName=vmalert.{{ site.url }}
IP={{ secsvcs.container_subnet }}.11
# https://docs.victoriametrics.com/vmalert/#web
# metrics at :8880/metrics
# api at :8880/api/v1
# web frontend at :8880

Exec=--datasource.url="http://metrics.{{ site.url }}:8428/" \
     --datasource.basicAuth.username="admin" \
     --datasource.basicAuth.password="%{VM_ADMIN_PASSWORD}" \
     --remoteRead.url="http://metrics.{{ site.url }}:8428/" \
     --remoteRead.basicAuth.username="admin" \
     --remoteRead.basicAuth.password="%{VM_ADMIN_PASSWORD}" \
     --remoteWrite.url="http://metrics.{{ site.url }}:8428/" \
     --remoteWrite.basicAuth.username="admin" \
     --remoteWrite.basicAuth.password="%{VM_ADMIN_PASSWORD}" \
     --notifier.url="http://alert.{{ site.url }}:9093/" \
     --notifier.basicAuth.username="admin" \
     --notifier.basicAuth.password="%{AM_ADMIN_PASSWORD}" \
     --rule="/etc/alerts/*.yml" \
     --loggerLevel="WARN" \
     --loggerTimezone="{{ personal.timezone }}" \
     --external.url="https://vmalert.{{ site.url }}" \
     --external.label="grafana_url=https://graph.{{ site.url }},vm_dash=G7Z9GzMGz,vg_dash=wNf0q_kZk,va_dash=LzldHAVnz" \
     {% raw %}--external.alert.source='explore?orgId=1&left={"datasource":"VictoriaMetrics","queries":[{"expr":{{$$expr|jsonEscape|queryEscape}},"refId":"A"}],"range":{"from":"now-1h","to":"now"}}'{% endraw %}

Environment=TZ={{ personal.timezone }}
Secret=victoriametrics_admin_password,type=env,target=VM_ADMIN_PASSWORD
Secret=alertmanager_admin_password,type=env,target=AM_ADMIN_PASSWORD

Volume=/etc/opt/vmalert:/etc/alerts:ro

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
