# /etc/containers/systemd/fluentbit.container
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
# https://github.com/VictoriaMetrics/VictoriaMetrics/blob/master/deployment/docker/README.md

[Unit]
Description="Homelab: Logs collector"
StartLimitIntervalSec=30
StartLimitBurst=10
Wants=network.target
After=network-online.target

[Container]
Image=docker.io/fluent/fluent-bit:latest
ContainerName=fluentbit
AutoUpdate=registry
NoNewPrivileges=true

Network=net.network
HostName=log-collector.{{ site.url }}
# port 2020, metrics

Environment=TZ={{ personal.timezone }}
Volume=/etc/opt/fluentbit/config.conf:/fluent-bit/etc/fluent-bit.conf:ro
Volume=/etc/machine-id:/etc/machine-id:ro
Volume=/run/log/journal:/run/log/journal
Volume=/var/log/journal:/var/log/journal

[Service]
Restart=on-failure
TimeoutStartSec=300

ExecStartPre=/etc/opt/fluentbit/prestart.sh

[Install]
WantedBy=multi-user.target
