#!/bin/bash
# Usage:
#   src/debian/commands.sh CMD

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
set -euo pipefail
cd /home/autoadmin

case $1 in
  install_ssh_ca)
    # Moves SSH public keys into their respective locations and restarts sshd.
    chown root:root ca_ssh_key.pub
    mv ca_ssh_key.pub /etc/ssh

    chown root:root ssh_host_key_cert.pub
    mv ssh_host_key_cert.pub /etc/ssh

    chown root:root known_hosts
    mv known_hosts /etc/ssh/ssh_known_hosts

    systemctl restart sshd
    systemctl status sshd --no-pager
    ;;
  install_dispatcher)
    cp "/root/homelab-rendered/src/$(hostname)/dispatcher.sh" /usr/local/bin
    cp /root/homelab-rendered/src/debian/autoadmin_sshd.conf /etc/ssh/sshd_config.d
    cp "/root/homelab-rendered/src/$(hostname)/sudoers" /etc/sudoers.d/dispatcher

    systemctl restart sshd
    systemctl status sshd --no-pager
    ;;
  install_ca)
    chown root:root ca-chain.cert.pem
    mv ca-chain.cert.pem /etc/ssl/certs/{{ site.url }}.ca_chain.cert.pem
    ;;
  copy_acme_certs)
    # Only for hosts running traefik
    cp /etc/opt/traefik/certificates/acme.json /home/autoadmin/acme.json
    chown autoadmin:autoadmin /home/autoadmin/acme.json
    ;;
  *)
    echo "error: unknown file type: $1" >&2
    exit 1
    ;;
esac
