# /etc/systemd/system/moonlight.service

[Unit]
Description="Homelab: Moonlight gamestream client"
StartLimitIntervalSec=30
StartLimitBurst=10
Wants=network.target
After=network-online.target

[Service]
Type=simple

Environment=TZ={{ personal.timezone }}
# Environment="QT_QPA_EGLFS_ALWAYS_SET_MODE=1"

User={{ username }}
ExecStart=/usr/bin/moonlight-qt

Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
