# /etc/containers/systemd/piper.container
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Unit]
Description="Homelab: text to speech synthesizer"
StartLimitIntervalSec=30
StartLimitBurst=10
Wants=network.target
After=network-online.target

[Container]
Image=localhost/piper:latest
ContainerName=piper
AutoUpdate=registry
NoNewPrivileges=true

Network=net.network
HostName=tts.janedoe.com
IP=10.11.0.12
# port 10200: Wyoming protocol for tts
# port 5000: Piper tts server

Exec="--voice=en_US-lessac-medium"
# Consider GPU acceleration: https://github.com/rhasspy/piper/tree/4147f9629e88d3c1d4915a127f2d843f98347303?tab=readme-ov-file#running-in-python

Environment=TZ=America/Los_Angeles
Volume=/var/opt/piper:/data

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
