# /etc/containers/systemd/homepage.container
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Unit]
Description="Homelab: homepage dashboard for internal users"
StartLimitIntervalSec=30
StartLimitBurst=10
Wants=network.target
After=network-online.target

[Container]
Image=ghcr.io/gethomepage/homepage:latest
ContainerName=homepage
AutoUpdate=registry
NoNewPrivileges=true

Network=net.network
HostName=dash.{{ site.url }}
IP={{ websvcs.container_subnet }}.9
# port 3000

Environment=PUID=1000 PGID=1000
Environment=TZ={{ personal.timezone }}
Environment=LOG_TARGETS=stdout
Volume=/etc/opt/homepage/images:/app/public/images:ro
Volume=/etc/opt/homepage/config:/app/config

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
