# /etc/containers/systemd/gatus.container
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Unit]
Description="Homelab: Blackbox uptime monitoring and alerting"
StartLimitIntervalSec=30
StartLimitBurst=10
Wants=network.target
After=network-online.target

[Container]
Image=docker.io/twinproduction/gatus:latest
ContainerName=gatus
AutoUpdate=registry
NoNewPrivileges=true

# http web front-end, port = 8080
Network=net.network
HostName=uptime.{{ site.url }}
IP={{ secsvcs.container_subnet }}.9

Environment=TZ={{ personal.timezone }}
Environment=GATUS_DELAY_START_SECONDS=5
Environment=GATUS_LOG_LEVEL=WARN
# https://www.postgresql.org/docs/14/libpq-envars.html
Environment=PGSSLMODE=verify-full
Environment=PGSSLROOTCERT=/etc/ssl/certs/ca.chain.pem
Secret=gatus_pg_password,type=env,target=PGPASSWORD
Secret=gatus_oidc_id,type=env,target=OIDC_CLIENT_ID
Secret=gatus_oidc_secret,type=env,target=OIDC_CLIENT_SECRET

Volume=/etc/opt/gatus/config.yaml:/config/config.yaml:ro
Volume=/etc/opt/gatus/certificates/ca.chain.pem:/etc/ssl/certs/ca.chain.pem:ro

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
