# /etc/containers/systemd/vmagent.container
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
# https://github.com/VictoriaMetrics/VictoriaMetrics/blob/master/deployment/docker/README.md
# On secsvcs just use VictoriaMetrics

[Unit]
Description="Homelab: Metric collector"
StartLimitIntervalSec=30
StartLimitBurst=10
Wants=network.target
After=network-online.target

[Container]
Image=docker.io/victoriametrics/vmagent:stable
ContainerName=vmagent
AutoUpdate=registry
NoNewPrivileges=true

Network=net.network
HostName=metric-collector.{{ site.url }}
IP={{ websvcs.container_subnet }}.7
# port 8429
# https://docs.victoriametrics.com/vmagent/#how-to-push-data-to-vmagent

Exec=--promscrape.config="/etc/prometheus/prometheus.yml" \
     --httpListenAddr=":8429" \
     --promscrape.config="/etc/prometheus/prometheus.yml" \
     --remoteWrite.url="https://metrics.{{ site.url }}/api/v1/write" \
     --remoteWrite.basicAuth.username="admin" \
     --remoteWrite.basicAuth.password="%{VM_ADMIN_PASSWORD}" \
     --usePromCompatibleNaming \
     --loggerLevel="WARN"
     # --influxListenAddr=":8089" \
     # --graphiteListenAddr=":2003" \
     # --opentsdbListenAddr=":4242" \
     # --metrics.exposeMetadata \

Environment=TZ={{ personal.timezone }}
Secret=victoriametrics_admin_password,type=env,target=VM_ADMIN_PASSWORD
Volume=/etc/opt/vmagent/prometheus.yml:/etc/prometheus/prometheus.yml:ro
Volume=vmagentdata.volume:/vmagentdata

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
