# /etc/opt/fluentbit/config.yaml.j2
# Ref:
#   https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/yaml/configuration-file
#   https://docs.fluentbit.io/manual/pipeline/inputs/systemd

service:
  flush: 1
  log_level: warning
  daemon: off
  # https://docs.fluentbit.io/manual/administration/monitoring#http-server
  http_server: on
  http_listen: 0.0.0.0
  http_port: 2020
pipeline:
  inputs:
    - name: systemd
      tag: host.*
      # In memory (/run) vs persistent (/var) journaling in systemd
      path: /var/log/journal
      mem_buf_limit: 10MB
      db: /data/fb_journald.db
      # https://www.freedesktop.org/software/systemd/man/latest/systemd.journal-fields.html
      strip_underscores: on
      lowercase: on
      systemd_filter_type: or
      systemd_filter:{% raw %}{% for svc in homelab_services %}
        - _SYSTEMD_UNIT={{ svc }}.service{% endfor %}{% endraw %}
      processors:
        logs:
          # https://docs.fluentbit.io/manual/pipeline/filters/lua
          - name: lua
            match: '*'
            call:  process_msg
            code: |
              function process_msg(tag, timestamp, record)
                new_record = {}
                new_record["hostname"] = record["hostname"] or ""
                new_record["service"] = record["container_name"] or ""
                new_record["message"] = record["message"] or ""
                new_record["code"] = (record["code_func"] or "") .. " " .. (record["code_file"] or "") .. ":" .. (record["code_line"] or "")
                return 2, timestamp, new_record
              end
  outputs:
    - name: http
      match: '*'
      host: logs.{{ site.url }}
      port: 9428
      # compress: gzip
      uri: /insert/jsonline?_stream_fields=stream,path&_msg_field=log&_time_field=date
      format: json_lines
      json_date_format: iso8601
