# /etc/containers/systemd/dashy.container
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Unit]
Description="Homelab: Dashy application dashboard"
StartLimitIntervalSec=30
StartLimitBurst=10
Wants=network.target
After=network-online.target

[Container]
Image=docker.io/lissy93/dashy:latest
ContainerName=dashy
AutoUpdate=registry
NoNewPrivileges=true

Environment=TZ={{ personal.timezone }}
# Run as user
Environment=UID=1000 GID=1000
Environment=NODE_ENV=production
Environment=PORT=4000
Environment=HOST=https://dash.{{ site.url }}
Environment=INTEGRITY=true

# Listens on port 4000
Network=net.network
# TODO: make read only
Volume=/etc/opt/dashy/config/dashy.yml:/public/conf.yml

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
