#!/bin/bash
# Usage:
#   src/secsvcs/commands.sh CMD

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
set -euo pipefail
cd /home/autoadmin

case $1 in
  install_certs)
    # Move the certificates to their respective directories.
    chown root:root ./*.pem
    mkdir -p /etc/opt/authelia/certificates
    mkdir -p /etc/opt/lldap/certificates
    mkdir -p /etc/opt/traefik/certificates
    mkdir -p /etc/opt/db/certificates
    mkdir -p /etc/opt/gatus/certificates
    mkdir -p /etc/opt/grafana/certificates

    mv auth.{{ site.url }}.cert.pem /etc/opt/authelia/certificates/auth.cert.pem
    mv ldap.{{ site.url }}.cert.pem /etc/opt/lldap/certificates/ldap.cert.pem
    cp /etc/opt/lldap/certificates/ldap.cert.pem /etc/opt/authelia/certificates

    mv pgdb.{{ site.url }}.cert.pem /etc/opt/db/certificates/pgdb.crt
    chown 70:70 /etc/opt/db/certificates/*.crt
    # https://github.com/docker-library/postgres/blob/master/14/alpine3.19/Dockerfile

    mv secproxy.{{ site.url }}.cert.pem /etc/opt/traefik/certificates/proxy.crt
    mv secproxy.{{ site.url }}.client_cert.pem /etc/opt/traefik/certificates/proxy.client.crt
    cp /etc/opt/traefik/certificates/proxy.client.crt /etc/opt/authelia/certificates/secproxy.client.pem

    mv webproxy.{{ site.url }}.client_cert.pem /etc/opt/authelia/certificates/webproxy.client.pem
    mv homeproxy.{{ site.url }}.client_cert.pem /etc/opt/authelia/certificates/homeproxy.client.pem
    mv ca-chain.cert.pem /etc/opt/traefik/certificates/ca.chain.crt

    cp /etc/opt/traefik/certificates/ca.chain.crt /etc/opt/authelia/certificates/ca.chain.pem
    cp /etc/opt/traefik/certificates/ca.chain.crt /etc/opt/lldap/certificates/ca.chain.pem
    cp /etc/opt/traefik/certificates/ca.chain.crt /etc/opt/db/certificates/ca.chain.crt
    cp /etc/opt/traefik/certificates/ca.chain.crt /etc/opt/gatus/certificates/ca.chain.pem
    cp /etc/opt/traefik/certificates/ca.chain.crt /etc/opt/grafana/certificates/ca.chain.pem

    rm -rf ./*.pem
    ;;
  install_keys)
    # Move the SSL keys into their respective locations.
    chown root:root ./*.pem
    mkdir -p /etc/opt/authelia/certificates
    mkdir -p /etc/opt/lldap/certificates
    mkdir -p /etc/opt/traefik/certificates
    mkdir -p /etc/opt/db/certificates

    mv auth.{{ site.url }}.key.pem /etc/opt/authelia/certificates/auth.key
    mv ldap.{{ site.url }}.key.pem /etc/opt/lldap/certificates/ldap.key.pem

    mv secproxy.{{ site.url }}.key.pem /etc/opt/traefik/certificates/proxy.key

    mv pgdb.{{ site.url }}.key.pem /etc/opt/db/certificates/pgdb.key
    chown 70:70 /etc/opt/db/certificates/pgdb.key
    # https://github.com/docker-library/postgres/blob/master/14/alpine3.19/Dockerfile

    rm -rf ./*.pem
    ;;
  install_olive_tin_cert)
    mkdir -p /etc/opt/olive_tin/ssh
    ls id_ed25519-cert.pub
    mv ./id_ed25519* /etc/opt/olive_tin/ssh
    ;;
  build_haproxy_mapper)
    # Doesn't need to run as root
    git clone https://github.com/babraham123/haproxy-mapper.git mapper
    cd mapper
    podman build --platform linux/amd64 -o type=local,dest=. .
    mv haproxy-mapper ..
    cd ..
    rm -rf mapper
    ;;
  *)
    echo "error: unknown file type: $1" >&2
    exit 1
    ;;
esac
