#!/bin/bash
# Usage:
#   src/websvcs/commands.sh CMD

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
set -euo pipefail
cd /home/autoadmin

case $1 in
  install_certs)
    # Move the certificates into their respective locations.
    chown root:root ./*.pem
    mkdir -p /etc/opt/traefik/certificates
    mkdir -p /etc/opt/guacamole/certs

    mv webproxy.{{ site.url }}.cert.pem /etc/opt/traefik/certificates/proxy.crt
    mv webproxy.{{ site.url }}.client_cert.pem /etc/opt/traefik/certificates/proxy.client.crt

    cp ca-chain.cert.pem /etc/opt/traefik/certificates/ca.chain.crt
    cp ca-chain.cert.pem /etc/opt/guacamole/certs/ca.chain.pem

    rm -rf ./*.pem
    ;;
  install_keys)
    # Move the SSL keys into their respective locations.
    chown root:root ./*.pem
    mkdir -p /etc/opt/traefik/certificates

    mv webproxy.{{ site.url }}.key.pem /etc/opt/traefik/certificates/proxy.key

    rm -rf ./*.pem
    ;;
  *)
    echo "error: unknown file type: $1" >&2
    exit 1
    ;;
esac
