# /etc/containers/systemd/pve_exporter.container
# Ref: https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Unit]
Description="Homelab: Expose metrics gathered from a Proxmox VE node"
StartLimitIntervalSec=30
StartLimitBurst=10
Wants=network.target
After=network-online.target

[Container]
Image=docker.io/prompve/prometheus-pve-exporter:latest
ContainerName=pve_exporter
AutoUpdate=registry
NoNewPrivileges=true

# port = 9221
Network=telem.network
HostName=pve_exporter.{{ site.url }}

Environment=TZ={{ personal.timezone }}
Secret=pve_prom_password,type=env,target=PVE_PASSWORD

Volume=/etc/opt/pve_exporter/pve.yml:/etc/prometheus/pve.yml:ro

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
