# /etc/opt/grafana/grafana.ini
# Ref: https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana

[database]
type = postgres
host = pgdb.{{ site.url }}:5432
name = grafana
user = grafana
ssl_mode = verify-full
ca_cert_path = /certificates/ca.chain.pem

[log]
mode = console
level = warn

[server]
root_url = https://graph.{{ site.url }}

[plugins]
preinstall_sync = victoriametrics-metrics-datasource,victoriametrics-logs-datasource
disable_plugins = grafana-amazonprometheus-datasource

# Ref: https://grafana.com/docs/grafana/latest/setup-grafana/configure-security/configure-authentication/
[auth]
disable_login_form = true

[auth.basic]
enabled = false

# Ref:
#   https://www.authelia.com/integration/openid-connect/grafana/
#   https://grafana.com/docs/grafana/latest/setup-grafana/configure-security/configure-authentication/generic-oauth/
[auth.generic_oauth]
enabled = true
auto_login = true
name = Authelia
icon = signin
# Corresponds to client_secret_post in Authelia. Use InHeader for client_secret_basic
auth_style = InParams
scopes = openid profile email groups
empty_scopes = false
# Used by client, called from public internet
auth_url = https://auth.{{ site.url }}/api/oidc/authorization
# Used by grafana, called within container network. Use AddHost override to route thru traefik
token_url = https://auth.{{ site.url }}/api/oidc/token
api_url = https://auth.{{ site.url }}/api/oidc/userinfo
login_attribute_path = preferred_username
groups_attribute_path = groups
name_attribute_path = name
use_pkce = true
role_attribute_path = contains(groups[*], 'grafana_admin') && 'Admin' || 'Viewer'
role_attribute_strict = true
