# /etc/opt/olive-tin/config.yaml
---
# Listen on all addresses available, port 1337
listenAddressSingleHTTPFrontend: 0.0.0.0:1337

# Choose from INFO (default), WARN and DEBUG
logLevel: "INFO"

# Ref: https://docs.olivetin.app/advanced_configuration/prometheus.html
# prometheus:
#   enabled: true
#   defaultGoMetrics: false

# Ref: https://docs.olivetin.app/security/oauth2_authelia.html
authRequireGuestsToLogin: true
authOAuth2RedirectURL: https://command.{{ site.url }}/oauth/callback
authOAuth2Providers:
  authelia:
    name: authelia
    title: Authelia
    clientID: {% raw %}${{ OLIVE_TIN_OIDC_ID }}{% endraw %}
    clientSecret: {% raw %}${{ OLIVE_TIN_OIDC_SECRET }}{% endraw %}
    authURL: https://auth.{{ site.url }}/api/oidc/authorization
    tokenURL: https://auth.{{ site.url }}/api/oidc/token
    whoamiUrl: https://auth.{{ site.url }}/api/oidc/userinfo
    scopes:
      - openid
      - profile
      - groups
    usernameField: preferred_username
    userGroupField: groups
    icon: <iconify-icon icon="simple-icons:authelia"></iconify-icon>

accessControlLists:
  - name: admins
    matchUsergroups:
      - command_admin
    permissions:
      view: true
      exec: true
      logs: true
    addToEveryAction: true
  - name: general
    matchUsergroups:
      - command_general
    permissions:
      view: true
      exec: true
      logs: false

defaultPermissions:
  view: false
  exec: false
  logs: false

defaultPopupOnStart: execution-dialog

# Ref: https://docs.olivetin.app/action_customization/intro.html
# Icons: https://docs.olivetin.app/action_customization/icons.html, https://iconify.design/

dashboards:
  - title: Main Dashboard
    contents:
      - title: General
        type: fieldset
        contents:
          - inlineAction:
              title: Date
              shell: date
              icon: date
              id: date
      - title: Gaming
        type: fieldset
        contents:
          - inlineAction:
              title: Start Gaming Server
              icon: <iconify-icon icon="maki:gaming"></iconify-icon>
              shell: ssh autoadmin@router start_pve2; sleep 10; ssh autoadmin@pve2 start_gaming; sleep 10; ssh -l autoadmin gaming Homelab_StartSunshine
              id: main_start_gaming
              maxConcurrent: 1
              acls: [general]
          - inlineAction:
              title: Stop Gaming Server
              icon: <iconify-icon icon="maki:gaming"></iconify-icon>
              shell: ssh autoadmin@pve2 stop_gaming
              id: main_stop_gaming
              maxConcurrent: 1
              acls: [general]

  - title: All Commands
    contents:
      - title: secsvcs
        type: fieldset
        contents:
{% for cmd in secsvcs_commands %}
          - inlineAction:
              title: secsvcs {{ cmd | replace("_", " ") | title }}
              icon: <iconify-icon icon="material-symbols:security"></iconify-icon>
              shell: ssh autoadmin@secsvcs {{ cmd }}
              id: secsvcs_{{ cmd }}
              maxConcurrent: 1
{% endfor %}
      - title: homesvcs
        type: fieldset
        contents:
{% for cmd in homesvcs_commands %}
          - inlineAction:
              title: homesvcs {{ cmd | replace("_", " ") | title }}
              icon: <iconify-icon icon="material-symbols:home"></iconify-icon>
              shell: ssh autoadmin@homesvcs {{ cmd }}
              id: homesvcs_{{ cmd }}
              maxConcurrent: 1
{% endfor %}
      - title: websvcs
        type: fieldset
        contents:
{% for cmd in websvcs_commands %}
          - inlineAction:
              title: websvcs {{ cmd | replace("_", " ") | title }}
              icon: <iconify-icon icon="material-symbols:cloud"></iconify-icon>
              shell: ssh autoadmin@websvcs {{ cmd }}
              id: websvcs_{{ cmd }}
              maxConcurrent: 1
{% endfor %}
      - title: pve1
        type: fieldset
        contents:
{% for cmd in pve1_commands %}
          - inlineAction:
              title: pve1 {{ cmd | replace("_", " ") | title }}
              icon: <iconify-icon icon="material-symbols:host-rounded"></iconify-icon>
              shell: ssh autoadmin@pve1 {{ cmd }}
              id: pve1_{{ cmd }}
              maxConcurrent: 1
{% endfor %}
      - title: pve2
        type: fieldset
        contents:
{% for cmd in pve2_commands %}
          - inlineAction:
              title: pve2 {{ cmd | replace("_", " ") | title }}
              icon: <iconify-icon icon="material-symbols:host-sharp"></iconify-icon>
              shell: ssh autoadmin@pve2 {{ cmd }}
              id: pve2_{{ cmd }}
              maxConcurrent: 1
{% endfor %}
      - title: vpn
        type: fieldset
        contents:
{% for cmd in vpn_commands %}
          - inlineAction:
              title: vpn {{ cmd | replace("_", " ") | title }}
              icon: <iconify-icon icon="material-symbols:vpn-key"></iconify-icon>
              shell: ssh autoadmin@vpn {{ cmd }}
              id: vpn_{{ cmd }}
              maxConcurrent: 1
{% endfor %}
      - title: router
        type: fieldset
        contents:
{% for cmd in router_commands %}
          - inlineAction:
              title: router {{ cmd | replace("_", " ") | title }}
              icon: <iconify-icon icon="material-symbols:router"></iconify-icon>
              shell: ssh autoadmin@router {{ cmd }}
              id: router_{{ cmd }}
              maxConcurrent: 1
{% endfor %}
      - title: gaming
        type: fieldset
        contents:
{% for cmd in gaming_commands %}
          - inlineAction:
              title: gaming {{ cmd | replace("_", " ") | title }}
              icon: <iconify-icon icon="material-symbols:videogame-asset"></iconify-icon>
              shell: ssh -l autoadmin gaming {{ cmd }}
              id: gaming_{{ cmd }}
              maxConcurrent: 1
{% endfor %}
      - title: devtop
        type: fieldset
        contents:
{% for cmd in devtop_commands %}
          - inlineAction:
              title: devtop {{ cmd | replace("_", " ") | title }}
              icon: <iconify-icon icon="material-symbols:desktop-windows-outline"></iconify-icon>
              shell: ssh autoadmin@devtop {{ cmd }}
              id: devtop_{{ cmd }}
              maxConcurrent: 1
{% endfor %}
...
