# /home/olivetin/.ssh/config

CanonicalizeHostname yes
CanonicalDomains {{ site.url }}
# Optional: controls how many dots before considering a hostname fully qualified
CanonicalizeMaxDots 0

# ufw only opens 2202 for SSH on the VPS
Host vpnsvcs.{{ site.url }} vpn.{{ site.url }}
  Port 2202
